.advantage {
    margin: 95px 0 0 0;
    background-color: #222224;
    @include tablet {
        margin: 65px 0 0 0;
    }

    &__list {
        min-height: 341px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tablet {
            flex-direction: column;
            padding: 48px 0 16px;
        }
    }
    
    &__item {
        width: 305px;
        min-height: 134px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include tablet {
            margin: 0 0 48px 0;
        }
    }
    
    &__title {
        @include font(20px, 24px);
        color: #FBFBFB;
    }
    
    &__descr {
        @include font(14px, 17px, 300);
        color: #FBFBFB;
        text-align: center;
    }
}

