.offers {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }
    
    &__item {
        width: 360px;
        min-height: 260px;
        background-color: $brown;
        @include flex-center();
        margin: 0 0 30px 0;
        &_women {
            background-image: url(../img/women.jpg);
        }
        
        &_men {
            background-image: url(../img/men.jpg);
        }
        
        &_kids {
            background-image: url(../img/kids.jpg);
        }
        
        &_accesories {
            background-image: url(../img/acces.jpg);
            width: 100%;
            margin: 0;
        }
    }
    &__title {
        font-weight: 400;
        text-align: center;
        color: #fff;
    }
    
    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        color: $dark-pink;
    }
}
